<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>


  <connectionStrings>
    <add name="baseConnectionString" connectionString="Data Source=127.0.0.1,1433; Database=NORTHWND;Integrated Security=false; User ID=miusuario; Password=mipassword;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
